{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">You have been logged out!</h2>
                    <form>

                        <div class="border-top pt-3">
                             <small class="text-muted">Log in again<a class="ml" href="{% url 'login' %}">Log in</a></small>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>







{% endblock %}